name: Auto assign pull request
on:
    pull_request:
        types:
            - opened

jobs:
    auto-assign:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            issues: write
            pull-requests: write
        steps:
            - name: Auto assign pull request
              run: |
                  curl \
                  --request POST \
                  --url https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.number }} \
                  --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
                  --header 'content-type: application/json' \
                  --data "{
                    \"assignees\": [\"${{ github.actor }}\"]
                  }"
