name: Pull request

on: pull_request

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [24]

        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "npm"

            - name: Install dependencies
              run: npm ci --ignore-scripts

            - name: Compile package
              run: npm run compile
